<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <!--<param-value>classpath:log4j.properties</param-value>-->
        <param-value>classpath:log4j2.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>6000</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>ctrl</servlet-name>
        <servlet-class>servlet.DeviceCtrlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mng</servlet-name>
        <servlet-class>servlet.ManageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>ctrl</servlet-name>
        <url-pattern>/ctrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mng</servlet-name>
        <url-pattern>/mng</url-pattern>
    </servlet-mapping>
</web-app>
